.bttn-create-new {
  min-width: 130px;
  background-color: none;
  color: $border-nav-color-and-text;
  box-shadow: $box-shadow;
  border: 1px solid $bg-header-orange;
  padding: 7px;
  border-radius: 15px;
  font-size: 18px;
  &:hover {
    background-color: $bg-header-orange;
    color: white;
    box-shadow: none;
    border-radius: 5px;
    border: 1.5px solid black;
  }
}

.bttn {
  min-width: 170px;
  background-color: $bg-header-orange;
  color: white;
  box-shadow: $box-shadow;
  border: 1px solid black;
  padding: 9px;
  border-radius: 20px;
  font-size: 20px;
  &:hover {
    background-color: $bg-header-orange;
    box-shadow: none;
    border-radius: 5px;
    border: 1.5px solid black;
  }
}

#opacity-bttn {
  opacity: 50%;
  &:hover {
    background-color: $bg-header-orange;
    box-shadow: $box-shadow;
    border-radius: 20px;
    border: 1px solid black;
  }
}

.visual-btn {
  display: block;
}
