.card {
  box-shadow: $box-shadow-border;
  border: 1px solid $border-nav-color-and-text;
  background-color: #f0f0f0;
}

.listing-link {
  color: black;
  &:hover {
    color: $border-nav-color-and-text;
  }
}

h1,
h2,
p {
  text-align: center;
}

.bids-info {
  font-weight: 500;
  font-size: 18px;
  color: $border-nav-color-and-text;
}

.button-move {
  display: inline-block;
  max-width: 200px;
  text-align: center;
  margin: 5px;
}

.center-buttons {
  margin: auto;
  text-align: center;
}

.auction-image {
  box-shadow: $box-shadow-border;
  object-fit: cover;
  border: black solid 1px;
  border-radius: 15px;
  width: 70%;
  align-items: center;
  margin: 15px auto;
  padding: 0px;
}

.avatar-image {
  box-shadow: $box-shadow-border;
  object-fit: cover;
  border: black solid 1px;
  border-radius: 50%;
  width: 50%;
  align-items: center;
  margin: 15px auto;
  padding: 0px;
}

.seller-image {
  box-shadow: $box-shadow-border;
  object-fit: cover;
  border: black solid 1px;
  border-radius: 50%;
  width: 20%;
  height: 20%;
  align-items: center;
  margin: 15px auto;
  padding: 0px;
}
