.card {
  box-shadow: $box-shadow-border;
  border: 1px solid $border-nav-color-and-text;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

h1,
h2,
p {
  text-align: center;
}

.button-move {
  display: inline-block;
  max-width: 200px;
  text-align: center;
  margin: 5px;
}

.center-buttons {
  margin: auto;
  text-align: center;
}
