$bg-header-purple: #b36836;
$border-nav-color: #914920;
$background-purple: #d8d8d8;
$box-shadow-color: rgba(0, 0, 0, 0.507);
$box-shadow-color-border: rgba(0, 0, 0, 0.473);

$box-shadow: 5px 5px 10px $box-shadow-color;
$box-shadow-border: 5px 5px 10px $box-shadow-color-border;

$border-bottom-nav: 1px solid $bg-header-purple;
$border-bottom-header: 1px solid $bg-header-purple;

// $bg-nav-purple: #5f3d5d;
// $bg-header-purple: #5f3d5d;
// $border-nav-color: #9c6c9a;
// $background-purple: #cfc3d3;
// $box-shadow-color: rgba(0, 0, 0, 0.507);
// $box-shadow-color-border: rgb(0, 0, 0);

// #b6692a
